body{
	margin: 0;
	font-family: 'Lato', sans-serif;

	font-size: 18px;
	line-height: 1.6;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
} 

.container {
	width: 100%;
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

/* intro */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height:  100vh;	

	/*background: url("../images/intro.jpg")*/
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, 
	rgba(157,51,56,1) 34%, rgba(184,60,60,1) 47%, 
	rgba(193,102,107,1) 69%, rgba(61,186,212,1) 100%); 

	center no-repeat;
	background-size: cover;
}

.intro__title {
	font-size: 150px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
}

.intro__suptitle{
	font-size: 75px;
	color: #fff;
	font-weight: 100;
}

.intro__inner{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;

	text-align: center;
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;

	border: 3px solid #fff;

	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

	transition: background .1s linear, color .1s linear;
}

.btn:hover{
	background-color: #fff;
	color: #333;
}

/*Header*/

.header{
	padding-top: 30px;
	width: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #FFF;
}

.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	position: relative;

	color: #FFF;
	text-decoration: none;

	transition: color .1s linear;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;

	background-color: #fce38a;
	opacity: 0;

	position: absolute;
	top: 100%;
	left 0px;
	z-index: 1;	

	transition: opacity .1s linear;
}

.nav__link:hover {
	color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
	opacity: 1;
}

.nav__link.active {
	color: #fce38a;
}


/* Section */
.section {
	padding: 80px 0;
}

.section__header{
	width: 100%;
	max-width: 950px;
	margin: 0 auto;

	margin-bottom: 40px;
	text-align: center;
}

.section__suptitle{
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	color:  #333;
}

.section__title{
	font-size: 30px;
	font-weight: 700;
	color:  #333;
	text-transform: uppercase;
}

.section__title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto;

	background-color:  #f38181
}

.section__text{
	font-size: 15px;
	color:  #999;
}

/* about */

.about{
	margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__item{
	width: 33.33333%;
    padding: 0 15px;
}

.about__inner {
    position: relative;
    background-color: #cd6f6f;;
}

.about__inner:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__inner:hover .about__img__img img {
    opacity: .1;
}

.about__inner:hover .about__text {
	text-decoration: none;
    opacity: 1;
}

.about__img {
	background: rgb(26,16,73);
	background: linear-gradient(145deg, rgba(26,16,73,1) 0%, 
		rgba(205,111,111,1) 49%, rgba(72,168,176,1) 100%);

	transition: transform .2s linear;
}

.about__img img {
	display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.about__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}


/* Statistics */
.statistics{
	background-color: #95e1d3;
}

.stat{
	display: flex;
	flex-wrap: wrap;
}

.stat__item{
	flex: 1 1 0;
	padding: 70px 25px;

	text-align: center;

	border-left: 1px solid #b5eae0;
	color: #fff;

}

.stat__item:last-child{
	border-right: 1px solid #b5eae0;
}

.stat__num{
	margin-bottom: 10px;
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
}

.stat__text{
	font-size: 14px;
	text-transform: uppercase;
}

@media (max-width: 1230px) {
	/* intro */
	.intro__suptitle{
		font-size: 52px;
	}

	.intro__title{
		font-size: 120px;
	}
}

@media (max-width: 990px) {
	/* Intro */
    .intro__suptitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 80px;
    }

    /* Stat */
    .stat {
       justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.33333%;
        padding-top: 30px;
        padding-bottom: 30px;

        border: 0;
    }

    .stat__item:last-child {
        border-right: 0;
    }
}

@media (max-width: 770px) {

    /* Section */
    .section {
        padding: 40px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }

    /* About */
    .about {
        margin-top: 50px;
        justify-content: center;
    }

    .about__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .about__item:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 575px) {
	/* Intro */
    .intro__suptitle {
        font-size: 22px;
    }

    .intro__title {
        font-size: 40px;
    }

    /* Section */
    .section__header {
        margin-bottom: 50px;
    }

    .section__suptitle {
        font-size: 20px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__title:after {
        margin: 20px auto;
    }

    /* Stat */
    .stat__item {
        width: 100%;

        border-bottom: 1px solid #b5eae0;
    }

    .stat__item:last-child {
        border-bottom: 0;
    }

    .stat__num {
        font-size: 52px;
    }
}